name: Ruby

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Ruby ${{ matrix.ruby-version }} on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        ruby-version: [ '3.3', '3.4', '4.0', 'truffleruby' ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Run rspec
        run: bundle exec rspec
      - name: Run cucumber
        run: bundle exec cucumber
      - name: Run rubocop
        run: bundle exec rubocop --config .rubocop.yml
